<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <% include ../../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - <%= notificationGroup.name %></title>

  <script>
  function display(id) {
    document.getElementById('title').innerHTML = data[id].title;
    document.getElementById('message').innerHTML = data[id].message;
    document.getElementById('time').innerHTML = data[id].time;
    document.getElementById('organisation-name').innerHTML = data[id].organisationName;
    document.getElementById('organisation-name').style.color = data[id].organsiationMainColour;

    if (data[id].extendedMessage) {
      document.getElementById('extended-message').innerHTML = data[id].extendedMessage;
    } else {
      document.getElementById('extended-message').innerHTML = '';
    }

    if (data[id].image) {
      document.getElementById('image').src = '/image/'+data[id].image;
    } else {
      document.getElementById('image').src = '';
    }
  }
  </script>

</head>

<body style="text-align:center">

  <% include ../../../partials/pre-nav.ejs %>
    <li><a href='/developer'>Developer Dashboard</a></li>
    <% if (notificationGroup.organisation.image) { %>
      <li><a class='no-padding' href='/organisation/<%= notificationGroup.organisation._id %>'><img style="height:50px;" src='/image/<%= notificationGroup.organisation.image %>'></a></li>
    <% } else { %>
      <li><a href='/organisation/<%= notificationGroup.organisation._id %>'><%= notificationGroup.organisation.name %></a></li>
    <% } %>
  <% include ../../../partials/post-nav.ejs %>

  <div id='notifications-list' class="grid" style="width:49%">
    <% for (var i=0; i<notifications.length; i++) { %>
      <div class="card shadowed rounded notification-container" onclick="display('<%= notifications[i]._id %>')">
        <div class="grid">
          <div>
            <img class="grid" src='/images/notify-badge.png'>
            <div class="grid">Notify</div>
            <% var time = new Date(notifications[i].created); %>
            <% if (new Date() - new Date(notifications[i].created) < 86400000) { %>
              <p class="grid no-padding" style=""><%= time.toLocaleString('en-GB', { hour: 'numeric',minute:'numeric', hour12: true }) %></p>
            <% } else { %>
              <p class="grid no-padding"><%= time.getDate() %>/<%= time.getMonth()+1 %>/<%= time.getYear()-100 %> <%= time.toLocaleString('en-GB', { hour: 'numeric',minute:'numeric', hour12: true }) %></p>
            <% } %>
          </div>

          <b><%= notifications[i].title %></b>
          <p><%= notifications[i].message %></p>

        </div>

        <% if (notifications[i].image) { %>
          <img class="grid" src="/image/<%= notifications[i].image %>">
        <% } %>
      </div>
    <% } %>
  </div>

  <div class="grid" style="width:49%;">
    <div class="card shadowed rounded notification-container" style='margin:0px auto;width:80%;height:85vh;cursor:auto;position:relative;'>
      <div style='height:90%;display:table;'>
        <div style='height:21px;display:table-row'>
          <img class="grid" src='/images/notify-badge.png'>
          <div class="grid">Notify</div>
          <p id='time' class="grid no-padding" style=""></p>
        </div>
        <div style='overflow-y:auto;display:table-row'>
          <b id='title' style='max-width:unset;'>no notification selected</b>
          <p id='message' style='max-width:unset;'></p>
          <p id='extended-message' style='max-width:unset;'></p>
        </div>
      </div>
      <div style='height:10%;display:flex;'>
        <div id='organisation-name' style='margin:auto 0px auto auto;padding:unset;'></div>
        <img id='image' style='height:100%;display:block;'>
      <div>
    </div>
  </div>

</body>
<script>
var data = {}

<% for (var i=0; i<notifications.length; i++) { %>
  data['<%= notifications[i]._id %>'] = {
    title: '<%= notifications[i].title %>',
    message: '<%= notifications[i].message %>',
    time: "<%= notifications[i].created.getDate() %>/<%= notifications[i].created.getMonth()+1 %>/<%= notifications[i].created.getYear()-100 %> <%= notifications[i].created.toLocaleString('en-GB', { hour: 'numeric',minute:'numeric', hour12: true }) %>",
    organisationName:'<%= notifications[i].organisation.name %>',
    organsiationMainColour: '<%= notifications[i].organisation.mainColour %>',
  }

  <% if (notifications[i].image) { %>
    data['<%= notifications[i]._id %>'].image = '<%= notifications[i].image %>';
  <% } %>

  <% if (notifications[i].extendedMessage) { %>
    data['<%= notifications[i]._id %>'].extendedMessage = '<%= notifications[i].extendedMessage %>';
  <% } %>

<% } %>
</script>
</html>
